<script src="https://cdn.tailwindcss.com"></script>

<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">

        {% for field in form %}
        <div class="form-group">
            {{field.errors}}
            {{field.label_tag}}
            {{field}}
        </div>
        {% endfor %}

    </div>
    <!-- /.card-body -->

    <button type="submit" class="btn btn-block text-lg mx-auto mb-4 py-1 !rounded-xl hover:scale-105 text-white bg-[#343a40] hover:bg-[#000000d3] transition-all duration-100 ease-in-out w-[40%]">
        {% if button_text %}
        {{button_text}}
        {% else %}
        Submit
        {% endif %}
    </button>
</form>
