{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Department</th>
                                    <th>Avatar</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{user.first_name}}  {{user.last_name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.gender}}</td>
                                    <td>{{user.user.department.name}}</td>
                                    <td>
                                        {% if user.profile_pic == ""  %}
                                        No Image
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="56" width="56"
                                            src="{{user.profile_pic}}" alt="">
                                        {% endif %}
                                    </td>
                                    
                                    <td><a href="{% url 'staff_edit_user' user.user.id %}" class="btn btn-info">Edit</a> -
                                        <a href="{% url 'staff_delete_user' user.user.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}