{% extends 'erm/erm_base.html' %} 
{% load static %}
{% load form_filters %}
{% block page_title %}Board Oversight{% endblock page_title %}

{% block content %}
<style>
    .container-fluid{
        min-height: 500px;
        background-color: #ffffff !important;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-bottom: 25px solid gray;
        margin: 0 auto; 
        margin-top: 20px; 
        margin-bottom: 20px;
        
    }
</style>

<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="row">
            <div class="col-2" style="background-color: #e9e9e9; padding: 1px; margin-left: 10px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_sort == 'MeetingMinutes' %}
                        SORT BY Meeting Minutes
                        {% elif current_sort == 'MeetingDate' %}
                        SORT BY Date
                        {% elif current_sort == 'OversightID' %}
                        SORT BY ID
                        {% endif %}
                    <span>
                </div>
            </div>
        
            <div class="col-2" style= "background-color: #e9e9e9; padding: 1px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-12" style="margin-left: 10px">
                <!-- Search Form -->
                <form method="get" class="form-inline mb-4">
                    <div class="row">
                        
                        <div class="col-0 ">
                            <label for="search">Filter:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                            value="{{ search_query }}" placeholder="Type to filter..." />
                        </div>
                        
                        <div class="col-2">
                            <button type="submit" class="btn ml-2" style="background-color: #f01819; color: white;">Search</button>
                        </div>
                    </div>  
                </form>
            
                
            </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=OversightID&order={% if current_sort == 'OversightID' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'OversightID' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=MeetingDate&order={% if current_sort == 'MeetingDate' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Meeting Date
                                {% if current_sort == 'MeetingDate' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Committee Members</th>
                        <th>Meeting Agenda</th>
                        <th>Decisions Made</th>
                        <th>Action Items</th>
                        <th>Risk Topics Discussed</th>
                        <th>FollowUp Actions</th>
                        <th>
                            <a href="?sort_by=MeetingMinutes&order={% if current_sort == 'MeetingMinutes' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Meeting Minutes
                                {% if current_sort == 'MeetingMinutes' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for board_oversight in paginated_board_oversights %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ board_oversight.OversightID }}"></td>
                        <td>{{ forloop.counter|add:paginated_board_oversights.start_index|add:-1 }}</td>
                        <td>{{ board_oversight.MeetingDate }}</td>
                        <td>{{ board_oversight.CommitteeMembers }}</td>
                        <td>{{ board_oversight.MeetingAgenda }}</td>
                        <td>{{ board_oversight.DecisionsMade }}</td>
                        <td>{{ board_oversight.ActionItems }}</td>
                        <td>{{ board_oversight.RiskTopicsDiscussed }}</td>
                        <td>{{ board_oversight.FollowUpActions }}</td>
                        <td>{{ board_oversight.MeetingMinutes }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' board_oversight.OversightID %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if board_oversight.OversightID %}
                    <div class="modal fade" id="editModal-{{ board_oversight.OversightID }}" tabindex="-1" aria-labelledby="editModalLabel-{{ board_oversight.OversightID }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ board_oversight.OversightID }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_board_oversight' board_oversight.OversightID %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ board_oversight.OversightID }}" data-toggle="tab" href="#general-{{ board_oversight.OversightID }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ board_oversight.OversightID }}" role="tabpanel">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="MeetingDate-{{ board_oversight.OversightID }}">Meeting Date</label> 
                                                        <input type="datetime-local" name="MeetingDate" id="MeetingDate-{{ board_oversight.OversightID }}" class="form-control" value="{{ board_oversight.MeetingDate|date:'Y-m-d\TH:i' }}">
                                                    </div>
                                                    <div class="col">
                                                        <label for="MeetingMinutes-{{ board_oversight.OversightID }}">Meeting Minutes</label>
                                                        <textarea name="MeetingMinutes" id="MeetingMinutes-{{ board_oversight.OversightID }}" class="form-control">{{ board_oversight.MeetingMinutes }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="MeetingAgenda-{{ board_oversight.OversightID }}">Meeting Agenda</label>
                                                        <textarea name="MeetingAgenda" id="MeetingAgenda-{{ board_oversight.OversightID }}" class="form-control">{{ board_oversight.MeetingAgenda }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="DecisionsMade-{{ board_oversight.OversightID }}">Decisions Made</label>
                                                        <textarea name="DecisionsMade" id="DecisionsMade-{{ board_oversight.OversightID }}" class="form-control">{{ board_oversight.DecisionsMade }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="CommitteeMembers-{{ board_oversight.OversightID }}">Committee Members</label>
                                                        <textarea name="CommitteeMembers" id="CommitteeMembers-{{ board_oversight.OversightID }}" class="form-control">{{ board_oversight.CommitteeMembers }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="RiskTopicsDiscussed-{{ board_oversight.OversightID }}">Risk Topics Discussed</label>
                                                        <textarea name="RiskTopicsDiscussed" id="RiskTopicsDiscussed-{{ board_oversight.OversightID }}" class="form-control">{{ board_oversight.RiskTopicsDiscussed }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="FollowUpActions-{{ board_oversight.OversightID }}">FollowUp Actions</label>
                                                        <textarea name="FollowUpActions" id="FollowUpActions-{{ board_oversight.OversightID }}" class="form-control">{{ board_oversight.FollowUpActions }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="ActionItems-{{ board_oversight.OversightID }}">Action Items</label>
                                                        <textarea name="ActionItems" id="ActionItems-{{ board_oversight.OversightID }}" class="form-control">{{ board_oversight.ActionItems }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center ">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_board_oversights.start_index }} - {{ paginated_board_oversights.end_index }} of {{ paginated_board_oversights.paginator.count }} Board Oversights
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination ">
                    {% if paginated_board_oversights.has_previous %}
                        <li class="page-item">
                            <a class="page-link " href="?page={{ paginated_board_oversights.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active ">
                        <span class="page-link" style="background-color: #f01819 !important; border:#f01819">{{ paginated_board_oversights.number }}</span>
                    </li>
                    
                    {% if paginated_board_oversights.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_board_oversights.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_board_oversight' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            <div class="row">
                                <div class="col">
                                    <label for="MeetingDate">Meeting Date</label>    
                                    {{ form.MeetingDate|add_class:"form-control"|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="Meeting Minutes">Meeting Minutes</label>
                                    {{ form.MeetingMinutes|add_class:"form-control" }}
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="MeetingAgenda">Meeting Agenda</label>
                                    {{ form.MeetingAgenda|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="DecisionsMade">Decisions Made</label>
                                    {{ form.DecisionsMade|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="CommitteeMembers">Committee Members</label>
                                    {{ form.CommitteeMembers|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="RiskTopicsDiscussed">Risk Topics Discussed</label>
                                    {{ form.RiskTopicsDiscussed|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="FollowUp Actions">FollowUp Actions</label>
                                    {{ form.FollowUpActions|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="ActionItems">Action Items</label>
                                    {{ form.ActionItems|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a board oversight is selected
                if (!selectedRadio) {
                    alert('Please select a board oversight.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected board oversight ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/erm/leadership/board_oversights/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this board oversight?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}
