{% extends "iam/iam_base.html" %}
{% load static %}
{% load form_filters %}
{% block page_title %}Audit Program{% endblock page_title %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="row">
            <div class="col-2" style="background-color: #e9e9e9; padding: 1px; margin-left: 10px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_sort == 'entity_name' %}
                        SORT BY Entity Name
                        {% elif current_sort == 'sub_process_name' %}
                        SORT BY Sub-Process Name
                        {% elif current_sort == 'program_id' %}
                        SORT BY ID
                        {% endif %}
                    <span>
                </div>
            </div>
        
            <div class="col-2" style= "background-color: #e9e9e9; padding: 1px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-12" style="margin-left: 10px">
                <!-- Search Form -->
                <form method="get" class="form-inline mb-4">
                    <div class="row">
                        
                        <div class="col-0 ">
                            <label for="search">Filter:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                            value="{{ search_query }}" placeholder="Type to filter..." />
                        </div>
                        
                        <div class="col-2">
                            <button type="submit" class="btn btn-info ml-2">Search</button>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=program_id&order={% if current_sort == 'program_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'program_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=entity_name&order={% if current_sort == 'entity_name' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Entity Name
                                {% if current_sort == 'entity_name' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=sub_process_name&order={% if current_sort == 'sub_process_name' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Sub-Process Name
                                {% if current_sort == 'sub_process_name' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Procedures</th>
                        <th>Tests</th>
                        <th>Assigned Auditors</th>
                        <th>Program Date</th>
                        <th>Comments</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>

                <tbody>
                    {% for audit_program in paginated_audit_programs %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ audit_program.program_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_audit_programs.start_index|add:-1 }}</td>
                        <td>{{ audit_program.entity_name }}</td>
                        <td>{{ audit_program.sub_process_name }}</td>
                        <td>{{ audit_program.procedures }}</td>
                        <td>{{ audit_program.tests }}</td>
                        <td>{{ audit_program.assigned_auditors.id }}</td>
                        <td>{{ audit_program.program_date }}</td>
                        <td>{{ audit_program.comments }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' audit_program.program_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if audit_program.program_id %}
                    <div class="modal fade" id="editModal-{{ audit_program.program_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ audit_program.program_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ audit_program.program_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_audit_program' audit_program.program_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ audit_program.program_id }}" data-toggle="tab" href="#general-{{ audit_program.program_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ audit_program.program_id }}" role="tabpanel">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="id_sub_process_name-{{ audit_program.program_id }}">Sub-Process Name</label>
                                                        <select name="sub_process_name" id="id_sub_process_name-{{ audit_program.program_id }}" class="form-control">
                                                            {% for choice in sub_process_choices %}
                                                            <option value="{{ choice.id }}" {% if audit_program.sub_process_name == choice.id %}selected{% endif %}>
                                                                {{ choice }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_entity_name-{{ audit_program.program_id }}">Entity Name</label>
                                                        <input type="text" name="entity_name" id="id_entity_name-{{ audit_program.program_id }}" class="form-control" value="{{ audit_program.entity_name }}">
                                                    </div>
                                                    
                                                </div>
                                                
                                                
                                                <div class="row mt-2">
                                                    
                                                    <div class="col">
                                                        <label for="id_procedures-{{ audit_program.program_id }}">Procedures</label>
                                                        <textarea name="procedures" id="id_procedures-{{ audit_program.program_id }}" class="form-control">{{ audit_program.procedures }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_tests-{{ audit_program.program_id }}">Tests</label>
                                                        <textarea name="tests" id="id_tests-{{ audit_program.program_id }}" class="form-control">{{ audit_program.tests }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_program_date-{{ audit_program.program_id }}">Program Date</label>
                                                        <input type="date" name="program_date" id="id_program_date-{{ audit_program.program_id }}" class="form-control" value="{{ audit_program.program_date|date:'Y-m-d' }}">
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_assigned_auditors-{{ audit_program.program_id }}">Assigned Auditors</label>
                                                        <select name="assigned_auditors" id="id_assigned_auditors-{{ audit_program.program_id }}" class="form-control">
                                                            {% for owner in owners %}
                                                            <option value="{{ owner.id }}" {% if audit_program.assigned_auditors.id == owner.id %}selected{% endif %}>
                                                                {{ owner }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_comments-{{ audit_program.program_id }}">Comments</label>
                                                        <textarea name="comments" id="id_comments-{{ audit_program.program_id }}" class="form-control">{{ audit_program.comments }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_audit_programs.start_index }} - {{ paginated_audit_programs.end_index }} of {{ paginated_audit_programs.paginator.count }} Audit Program
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_audit_programs.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_audit_programs.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link">{{ paginated_audit_programs.number }}</span>
                    </li>
                    
                    {% if paginated_audit_programs.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_audit_programs.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_audit_program' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            <div class="row">
                                <div class="col">
                                    <label for="id_sub_process_name">Sub-Process Name</label>
                                    {{ form.sub_process_name|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_entity_name">Entity Name</label>
                                    {{ form.entity_name|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_procedures">Procedures</label>
                                    {{ form.procedures|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_tests">Tests</label>
                                    {{ form.tests|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_program_date">Program Date</label>
                                    {{ form.program_date|add_class:"form-control" }}
                                </div>
                                
                                <div class="col">
                                    <label for="id_assigned_auditors">Assigned Auditors</label>
                                    {{ form.assigned_auditors|add_class:"form-control" }}
                                </div>
                                
                            </div>
                            
                            <div class="row mt-2">
                                
                                <div class="col">
                                    <label for="id_comments">Comments</label>
                                    {{ form.comments|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a Audit Program is selected
                if (!selectedRadio) {
                    alert('Please select a Audit Program.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected Audit Program ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/iam/micro_planning/audit_programs/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this Audit Program?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}
