{% extends "iam/iam_base.html" %}
{% load static %}
{% load form_filters %}
{% block page_title %}Observation Sheet{% endblock page_title %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        
        <div class="flex justify-between items-center mb-4"> 
            <div class="flex justify-center items-center gap-4">
                <div class="w-[250px] bg-[#e9e9e9] rounded-2xl text-center py-1" >
                    <span>
                        {% if current_sort == 'entity_name' %}
                        SORT BY Entity Name
                        {% elif current_sort == 'observation_details' %}
                        SORT BY Observation Details
                        {% elif current_sort == 'observation_id' %}
                        SORT BY ID
                        {% endif %}
                    </span>
                </div>
            
                <div class="w-[250px] bg-[#e9e9e9] rounded-2xl text-center py-1 ">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- <a class="flex justify-center items-center text-[22px] bg-[#e9e9e9] hover:bg-[#f1f1f1] hover:!text-red-500 rounded-full w-12 h-12 cursor-pointer hover:scale-110 transition-all duration-150 ease-in-out" title="Help" href="#popup1">
                <i class="fa-regular fa-circle-question"></i>
            </a> -->
            <div id="popup1" class="overlay">
                <div class="popup">
                    <a class="close" href="#">&times;</a>
                        <h2 class="text-lg font-bold mb-4">Info & Documents you Need:</h2>
                        <ul class="list-disc list-inside mb-6 text-gray-700">
                          <li>Organizational charts, process maps, departmental records.</li>
                        </ul>
                        <h2 class="text-lg font-bold mb-4">How to update this page?</h2>
                        <ul class="list-disc list-inside mb-6 text-gray-700 space-y-2">
                          <li>Collect all available organizational data, including process maps, charts, and departmental records.</li>
                          <li>Identify all departments, systems, processes, and locations that can be audited.</li>
                          <li>Categorize entities into groups such as operational, financial, IT, and compliance.</li>
                          <li>Assign risk levels to each entity using historical findings and criticality to business objectives.</li>
                          <li>Validate identified entities by consulting department heads or stakeholders.</li>
                          <li>Ensure no significant entity is missed by cross-referencing organizational documents.</li>
                          <li>Schedule audits based on risk levels and organizational priorities.</li>
                        </ul>
                        <h2 class="text-lg font-bold mb-4">Expected results:</h2>
                        <ul class="list-disc list-inside text-gray-700">
                          <li>Comprehensive list of auditable entities with risk levels and schedules.</li>
                        </ul>
                </div>
            </div>
            
        </div>
        <div class="col-12" style="margin-left: 10px">
            <!-- Search Form -->
            <form method="get" class="form-inline mb-4">
                <div class="row">
                    
                    <div class="col-0 ">
                        <label for="search">Filter:</label>
                    </div>
                    <div class="col-3">
                        <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                        value="{{ search_query }}" placeholder="Type to filter..." />
                    </div>
                    
                    <div class="col-2">
                        <button type="submit" class="btn btn-info ml-2">Search</button>
                    </div>
                </div>  
            </form>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=observation_id&order={% if current_sort == 'observation_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'observation_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=entity_name&order={% if current_sort == 'entity_name' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Entity Name
                                {% if current_sort == 'entity_name' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=observation_details&order={% if current_sort == 'observation_details' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Observation Details
                                {% if current_sort == 'observation_details' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Impact</th>
                        <th>Assigned To</th>
                        <th>Recommendation</th>
                        <th>Deadline</th>
                        <th>Comments</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>

                <tbody>
                    {% for observation_sheet in paginated_observation_sheets %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ observation_sheet.observation_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_observation_sheets.start_index|add:-1 }}</td>
                        <td>{{ observation_sheet.entity_name }}</td>
                        <td>{{ observation_sheet.observation_details }}</td>
                        <td>{{ observation_sheet.impact }}</td>
                        <td>{{ observation_sheet.recommendation }}</td>
                        <td>{{ observation_sheet.assigned_to }}</td>
                        <td>{{ observation_sheet.deadline }}</td>
                        <td>{{ observation_sheet.comments }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' observation_sheet.observation_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if observation_sheet.observation_id %}
                    <div class="modal fade" id="editModal-{{ observation_sheet.observation_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ observation_sheet.observation_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ observation_sheet.observation_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_observation_sheet' observation_sheet.observation_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ observation_sheet.observation_id }}" data-toggle="tab" href="#general-{{ observation_sheet.observation_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ observation_sheet.observation_id }}" role="tabpanel">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="entity_name-{{ observation_sheet.observation_id }}">Entity Name</label>
                                                        <input type="text" name="entity_name" id="entity_name-{{ observation_sheet.observation_id }}" class="form-control" value="{{ observation_sheet.entity_name }}">
                                                    </div>
                                                    
                                                    <div class="col">
                                                        <label for="observation_details-{{ observation_sheet.observation_id }}">Impact</label>
                                                        <textarea name="observation_details" id="observation_details-{{ observation_sheet.observation_id }}" class="form-control">{{ observation_sheet.observation_details }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    
                                                    <div class="col">
                                                        <label for="impact-{{ observation_sheet.observation_id }}">Impact</label>
                                                        <textarea name="impact" id="impact-{{ observation_sheet.observation_id }}" class="form-control">{{ observation_sheet.impact }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="recommendation-{{ observation_sheet.observation_id }}">Recommendation</label>
                                                        <textarea name="recommendation" id="recommendation-{{ observation_sheet.observation_id }}" class="form-control">{{ observation_sheet.recommendation }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="assigned_to-{{ observation_sheet.observation_id }}">Assigned To</label>
                                                        <select name="assigned_to" id="assigned_to-{{ observation_sheet.observation_id }}" class="form-control">
                                                            {% for assigned_to in assigned_tos %}
                                                                <option value="{{ assigned_to.id }}" {% if observation_sheet.assigned_to.id == assigned_to.id %}selected{% endif %}>{{ assigned_to }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="deadline-{{ observation_sheet.observation_id }}">Deadline</label>
                                                        <input type="date" name="deadline" id="deadline-{{ observation_sheet.observation_id }}" class="form-control" value="{{ observation_sheet.deadline|date:"Y-m-d" }}">
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                   
                                                    <div class="col">
                                                        <label for="comments-{{ observation_sheet.observation_id }}">Comments</label>
                                                        <textarea name="comments" id="comments-{{ observation_sheet.observation_id }}" class="form-control">{{ observation_sheet.comments }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_observation_sheets.start_index }} - {{ paginated_observation_sheets.end_index }} of {{ paginated_observation_sheets.paginator.count }} Observation Sheet
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_observation_sheets.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_observation_sheets.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link">{{ paginated_observation_sheets.number }}</span>
                    </li>
                    
                    {% if paginated_observation_sheets.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_observation_sheets.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_observation_sheet' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            
                            <div class="row">
                                <div class="col">
                                    <label for="entity_name">Entity Name</label>
                                    {{ form.entity_name|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="observation_details">Observation Details</label>
                                    {{ form.observation_details|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                
                                <div class="col">
                                    <label for="impact">Impact</label>
                                    {{ form.impact|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="recommendation">Recommendation</label>
                                    {{ form.recommendation|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="assigned_to">Assigned To</label>
                                    {{ form.assigned_to|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="deadline">Deadline</label>
                                    {{ form.deadline|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                
                                <div class="col">
                                    <label for="comments">Comments</label>
                                    {{ form.comments|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a Observation Sheet is selected
                if (!selectedRadio) {
                    alert('Please select a Observation Sheet.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected Observation Sheet ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/iam/fieldwork/observation_sheets/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this Observation Sheet?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}