{% extends 'iam/iam_base.html' %}
{% load static %}
{% load form_filters %}
{% block page_title %}Audit Resource Planner{% endblock page_title %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="row">
            <div class="col-2" style="background-color: #e9e9e9; padding: 1px; margin-left: 10px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_sort == 'team_member' %}
                        SORT BY Team Member
                        {% elif current_sort == 'assigned_tasks' %}
                        SORT BY Assigned Tasks
                        {% elif current_sort == 'resource_id' %}
                        SORT BY ID
                        {% endif %}
                    <span>
                </div>
            </div>
        
            <div class="col-2" style= "background-color: #e9e9e9; padding: 1px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-12" style="margin-left: 10px">
                <!-- Search Form -->
                <form method="get" class="form-inline mb-4">
                    <div class="row">
                        
                        <div class="col-0 ">
                            <label for="search">Filter:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                            value="{{ search_query }}" placeholder="Type to filter..." />
                        </div>
                        
                        <div class="col-2">
                            <button type="submit" class="btn btn-info ml-2">Search</button>
                        </div>
                    </div>  
                </form>
            
                
            </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=resource_id&order={% if current_sort == 'resource_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'resource_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=team_member&order={% if current_sort == 'team_member' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Team Member
                                {% if current_sort == 'team_member' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=assigned_tasks&order={% if current_sort == 'assigned_tasks' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Assigned Tasks
                                {% if current_sort == 'assigned_tasks' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Availability Status</th>
                        <th>Skillset</th>
                        <th>Allocation Date</th>
                        <th>Engagement</th>
                        <th>Hours Allocated</th>
                        <th>Remaining Capacity</th>
                        <th>Comments</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for audit_resource in paginated_audit_resources %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ audit_resource.resource_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_audit_resources.start_index|add:-1 }}</td>
                        <td>{{ audit_resource.team_member }}</td>
                        <td>{{ audit_resource.assigned_tasks }}</td>
                        <td>{{ audit_resource.availability_status }}</td>
                        <td>{{ audit_resource.skillset }}</td>
                        <td>{{ audit_resource.allocation_date }}</td>
                        <td>{{ audit_resource.engagement_id }}</td>
                        <td>{{ audit_resource.hours_allocated }}</td>
                        <td>{{ audit_resource.remaining_capacity }}</td>
                        <td>{{ audit_resource.comments }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' audit_resource.resource_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if audit_resource.resource_id %}
                    <div class="modal fade" id="editModal-{{ audit_resource.resource_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ audit_resource.resource_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ audit_resource.resource_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_audit_resource' audit_resource.resource_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ audit_resource.resource_id }}" data-toggle="tab" href="#general-{{ audit_resource.resource_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ audit_resource.resource_id }}" role="tabpanel">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="id_team_member-{{ audit_resource_resource.resource_id }}">Team Member</label>
                                                        <input type="text" name="team_member" id="id_team_member-{{ audit_resource_resource.resource_id }}" class="form-control" value="{{ audit_resource.team_member }}">
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_assigned_tasks-{{ audit_resource_resource.resource_id }}">Assigned Tasks</label>
                                                        <textarea name="assigned_tasks" id="id_assigned_tasks-{{ audit_resource_resource.resource_id }}" class="form-control">{{ audit_resource.assigned_tasks }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_availability_status-{{ audit_resource_resource.resource_id }}">Availability Status</label>
                                                        <select name="availability_status" id="id_availability_status-{{ audit_resource_resource.resource_id }}" class="form-control">
                                                            {% for value, label in availability_status_choices %}
                                                                <option value="{{ value }}" {% if audit_resource.availability_status == value %}selected{% endif %}>
                                                                    {{ label }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_skillset-{{ audit_resource_resource.resource_id }}">Skillset</label>
                                                        <textarea name="skillset" id="id_skillset-{{ audit_resource_resource.resource_id }}" class="form-control">{{ audit_resource.skillset }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_allocation_date-{{ audit_resource_resource.resource_id }}">Allocation Date</label>
                                                        <input type="date" name="allocation_date" id="id_allocation_date-{{ audit_resource_resource.resource_id }}" class="form-control" value="{{ audit_resource.allocation_date|date:'Y-m-d' }}">
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_engagement_id-{{ audit_resource_resource.resource_id }}">Engagement ID</label>
                                                        <select name="engagement_id" id="id_engagement_id-{{ audit_resource_resource.resource_id }}" class="form-control">
                                                            {% for engagement in engagements %}
                                                                <option value="{{ engagement.id }}" {% if audit_resource.engagement_id == engagement.engagement_id %}selected{% endif %}>
                                                                    {{ engagement }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_hours_allocated-{{ audit_resource_resource.resource_id }}">Hours Allocated</label>
                                                        <input type="number" name="hours_allocated" id="id_hours_allocated-{{ audit_resource_resource.resource_id }}" class="form-control" value="{{ audit_resource.hours_allocated }}">
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_remaining_capacity-{{ audit_resource_resource.resource_id }}">Remaining Capacity</label>
                                                        <input type="number" name="remaining_capacity" id="id_remaining_capacity-{{ audit_resource_resource.resource_id }}" class="form-control" value="{{ audit_resource.remaining_capacity }}">
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_comments-{{ audit_resource_resource.resource_id }}">Comments</label>
                                                        <textarea name="comments" id="id_comments-{{ audit_resource_resource.resource_id }}" class="form-control">{{ audit_resource.comments }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_audit_resources.start_index }} - {{ paginated_audit_resources.end_index }} of {{ paginated_audit_resources.paginator.count }} Audit Resources
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_audit_resources.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_audit_resources.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link">{{ paginated_audit_resources.number }}</span>
                    </li>
                    
                    {% if paginated_audit_resources.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_audit_resources.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_audit_resource' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            <div class="row">
                                <div class="col">
                                    <label for="id_team_member">Team Member</label>
                                    {{ form.team_member|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_assigned_tasks">Assigned Tasks</label>
                                    {{ form.assigned_tasks|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_availability_status">Availability Status</label>
                                    {{ form.availability_status|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_skillset">Skillset</label>
                                    {{ form.skillset|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_allocation_date">Allocation Date</label>
                                    {{ form.allocation_date|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_engagement_id">Engagement</label>
                                    {{ form.engagement_id|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_hours_allocated">Hours Allocated</label>
                                    {{ form.hours_allocated|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_remaining_capacity">Remaining Capacity</label>
                                    {{ form.remaining_capacity|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_comments">Comments</label>
                                    {{ form.comments|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a Audit Resource is selected
                if (!selectedRadio) {
                    alert('Please select a Audit Resource.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected Audit Resource ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/iam/audit_engagement/audit_resources/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this Audit Resource?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}
