{% extends 'iam/iam_base.html' %}
{% load static %}
{% load form_filters %}
{% block page_title %}Engagement Planning{% endblock page_title %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="row">
            <div class="col-2" style="background-color: #e9e9e9; padding: 1px; margin-left: 10px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_sort == 'scope' %}
                        SORT BY Scope
                        {% elif current_sort == 'objectives' %}
                        SORT BY Objectives
                        {% elif current_sort == 'engagement_id' %}
                        SORT BY ID
                        {% endif %}
                    <span>
                </div>
            </div>
        
            <div class="col-2" style= "background-color: #e9e9e9; padding: 1px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-12" style="margin-left: 10px">
                <!-- Search Form -->
                <form method="get" class="form-inline mb-4">
                    <div class="row">
                        
                        <div class="col-0 ">
                            <label for="search">Filter:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                            value="{{ search_query }}" placeholder="Type to filter..." />
                        </div>
                        
                        <div class="col-2">
                            <button type="submit" class="btn btn-info ml-2">Search</button>
                        </div>
                    </div>  
                </form>
            
                
            </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=engagement_id&order={% if current_sort == 'engagement_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'engagement_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=scope&order={% if current_sort == 'scope' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Scope
                                {% if current_sort == 'scope' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=objectives&order={% if current_sort == 'objectives' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Objectives
                                {% if current_sort == 'objectives' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Planned Start Date</th>
                        <th>Planned End Date</th>
                        <th>Assigned Auditors</th>
                        <th>Risk Focus Areas</th>
                        <th>Approval Status</th>
                        <th>Budget Allocated</th>
                        <th>Milestones</th>
                        <th>Notes</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for engagement_planning in paginated_engagement_plannings %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ engagement_planning.engagement_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_engagement_plannings.start_index|add:-1 }}</td>
                        <td>{{ engagement_planning.scope }}</td>
                        <td>{{ engagement_planning.objectives }}</td>
                        <td>{{ engagement_planning.planned_start_date }}</td>
                        <td>{{ engagement_planning.planned_end_date }}</td>
                        <td>{{ engagement_planning.assigned_auditors }}</td>
                        <td>{{ engagement_planning.risk_focus_areas }}</td>
                        <td>{{ engagement_planning.approval_status }}</td>
                        <td>{{ engagement_planning.budget_allocated }}</td>
                        <td>{{ engagement_planning.milestones }}</td>
                        <td>{{ engagement_planning.notes }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' engagement_planning.engagement_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if engagement_planning.engagement_id %}
                    <div class="modal fade" id="editModal-{{ engagement_planning.engagement_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ engagement_planning.engagement_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ engagement_planning.engagement_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_engagement_planning' engagement_planning.engagement_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ engagement_planning.engagement_id }}" data-toggle="tab" href="#general-{{ engagement_planning.engagement_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ engagement_planning.engagement_id }}" role="tabpanel">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="id_scope-{{ engagement_planning.engagement_id }}">Scope</label>
                                                        <textarea name="scope" id="id_scope-{{ engagement_planning.engagement_id }}" class="form-control">{{ engagement_planning.scope }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_objectives-{{ engagement_planning.engagement_id }}">Objectives</label>
                                                        <textarea name="objectives" id="id_objectives-{{ engagement_planning.engagement_id }}" class="form-control">{{ engagement_planning.objectives }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_planned_start_date-{{ engagement_planning.engagement_id }}">Planned Start Date</label>
                                                        <input type="date" name="planned_start_date" id="id_planned_start_date-{{ engagement_planning.engagement_id }}" class="form-control" value="{{ engagement_planning.planned_start_date|date:'Y-m-d' }}">
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_planned_end_date-{{ engagement_planning.engagement_id }}">Planned End Date</label>
                                                        <input type="date" name="planned_end_date" id="id_planned_end_date-{{ engagement_planning.engagement_id }}" class="form-control" value="{{ engagement_planning.planned_end_date|date:'Y-m-d' }}">
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_assigned_auditors-{{ engagement_planning.engagement_id }}">Assigned Auditors</label>
                                                        <select name="assigned_auditors" id="id_assigned_auditors-{{ engagement_planning.engagement_id }}" class="form-control">
                                                            {% for auditor in auditors %}
                                                                <option value="{{ auditor.id }}" {% if engagement_planning.assigned_auditors == auditor.id %}selected{% endif %}>{{ auditor }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_risk_focus_areas-{{ engagement_planning.engagement_id }}">Risk Focus Areas</label>
                                                        <textarea name="risk_focus_areas" id="id_risk_focus_areas-{{ engagement_planning.engagement_id }}" class="form-control">{{ engagement_planning.risk_focus_areas }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_approval_status-{{ engagement_planning.engagement_id }}">Approval Status</label>
                                                        <select name="approval_status" id="id_approval_status-{{ engagement_planning.engagement_id }}" class="form-control">
                                                            <option value="Pending" {% if engagement_planning.approval_status == 'Pending' %}selected{% endif %}>Pending</option>
                                                            <option value="Approved" {% if engagement_planning.approval_status == 'Approved' %}selected{% endif %}>Approved</option>
                                                            <option value="Rejected" {% if engagement_planning.approval_status == 'Rejected' %}selected{% endif %}>Rejected</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_budget_allocated-{{ engagement_planning.engagement_id }}">Budget Allocated</label>
                                                        <input type="number" name="budget_allocated" id="id_budget_allocated-{{ engagement_planning.engagement_id }}" class="form-control" value="{{ engagement_planning.budget_allocated }}">
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <label for="id_milestones-{{ engagement_planning.engagement_id }}">Milestones</label>
                                                        <textarea name="milestones" id="id_milestones-{{ engagement_planning.engagement_id }}" class="form-control">{{ engagement_planning.milestones }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_notes-{{ engagement_planning.engagement_id }}">Notes</label>
                                                        <textarea name="notes" id="id_notes-{{ engagement_planning.engagement_id }}" class="form-control">{{ engagement_planning.notes }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_engagement_plannings.start_index }} - {{ paginated_engagement_plannings.end_index }} of {{ paginated_engagement_plannings.paginator.count }} Engagement Plannings
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_engagement_plannings.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_engagement_plannings.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link">{{ paginated_engagement_plannings.number }}</span>
                    </li>
                    
                    {% if paginated_engagement_plannings.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_engagement_plannings.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_engagement_planning' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            <div class="row">
                                <div class="col">
                                    <label for="id_scope">Scope</label>
                                    {{ form.scope|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_objectives">Objectives</label>
                                    {{ form.objectives|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_planned_start_date">Planned Start Date</label>
                                    {{ form.planned_start_date|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_planned_end_date">Planned End Date</label>
                                    {{ form.planned_end_date|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_assigned_auditors">Assigned Auditors</label>
                                    {{ form.assigned_auditors|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_risk_focus_areas">Risk Focus Areas</label>
                                    {{ form.risk_focus_areas|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_approval_status">Approval Status</label>
                                    {{ form.approval_status|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_budget_allocated">Budget Allocated</label>
                                    {{ form.budget_allocated|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="id_milestones">Milestones</label>
                                    {{ form.milestones|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_notes">Notes</label>
                                    {{ form.notes|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a Engagement Planning is selected
                if (!selectedRadio) {
                    alert('Please select a Engagement Planning.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected Engagement Planning ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/iam/audit_engagement/engagement_plannings/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this Engagement Planning?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}
