{% extends 'erm/erm_base.html' %} 
{% load static %}
{% load form_filters %}
{% block page_title %}Performance Review{% endblock page_title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="row">
            <div class="col-2" style="background-color: #e9e9e9; padding: 1px; margin-left: 10px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_sort == 'objective' %}
                        SORT BY Objective
                        {% elif current_sort == 'review_period' %}
                        SORT BY Review Period
                        {% elif current_sort == 'review_id' %}
                        SORT BY ID
                        {% endif %}
                    <span>
                </div>
            </div>
        
            <div class="col-2" style= "background-color: #e9e9e9; padding: 1px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-12" style="margin-left: 10px">
                <!-- Search Form -->
                <form method="get" class="form-inline mb-4">
                    <div class="row">
                        
                        <div class="col-0 ">
                            <label for="search">Filter:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                            value="{{ search_query }}" placeholder="Type to filter..." />
                        </div>
                        
                        <div class="col-2">
                            <button type="submit" class="btn ml-2" style="background-color: #f01819; color: white;">Search</button>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=review_id&order={% if current_sort == 'review_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'review_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=objective&order={% if current_sort == 'objective' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Objective
                                {% if current_sort == 'objective' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=review_period&order={% if current_sort == 'review_period' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Review Period
                                {% if current_sort == 'review_period' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>KPIs Assessed</th>
                        <th>Target Values</th>
                        <th>Actual Values</th>
                        <th>Variance Analysis</th>
                        <th>Achievements</th>
                        <th>Areas For Improvement</th>
                        <th>Reviewer</th>
                        <th>Review Date</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for performance_review in paginated_performance_reviews %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ performance_review.review_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_performance_reviews.start_index|add:-1 }}</td>
                        <td>{{ performance_review.objective }}</td>
                        <td>{{ performance_review.review_period }}</td>
                        <td>{{ performance_review.kpis_assessed }}</td>
                        <td>{{ performance_review.target_values }}</td>
                        <td>{{ performance_review.actual_values }}</td>
                        <td>{{ performance_review.variance_analysis }}</td>
                        <td>{{ performance_review.achievements }}</td>
                        <td>{{ performance_review.areas_for_improvement }}</td>
                        <td>{{ performance_review.reviewer }}</td>
                        <td>{{ performance_review.review_date }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' performance_review.review_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if performance_review.review_id %}
                    <div class="modal fade" id="editModal-{{ performance_review.review_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ performance_review.review_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ performance_review.review_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_performance_review' performance_review.review_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ performance_review.review_id }}" data-toggle="tab" href="#general-{{ performance_review.review_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <div class="tab-pane fade show active" id="general-{{ performance_review.review_id }}" role="tabpanel">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="id_objective-{{ performance_review.review_id }}">Objective</label>
                                                        <select name="objective" id="id_objective-{{ performance_review.review_id }}" class="form-control">
                                                            {% for value in objectives %}
                                                            <option value="{{ value.id }}" {% if performance_review.objective.id == value.id %}selected{% endif %}>
                                                                {{ value.objective_name }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_review_period-{{ performance_review.review_id }}">Review Period</label>
                                                        <input type="text" name="review_period" id="id_review_period-{{ performance_review.review_id }}" class="form-control" value="{{ performance_review.review_period }}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="id_kpis_assessed-{{ performance_review.review_id }}">KPIs Assessed</label>
                                                        <textarea name="kpis_assessed" id="id_kpis_assessed-{{ performance_review.review_id }}" class="form-control">{{ performance_review.kpis_assessed }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_target_values-{{ performance_review.review_id }}">Target Values</label>
                                                        <textarea name="target_values" id="id_target_values-{{ performance_review.review_id }}" class="form-control">{{ performance_review.target_values }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="id_actual_values-{{ performance_review.review_id }}">Actual Values</label>
                                                        <textarea name="actual_values" id="id_actual_values-{{ performance_review.review_id }}" class="form-control">{{ performance_review.actual_values }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_variance_analysis-{{ performance_review.review_id }}">Variance Analysis</label>
                                                        <textarea name="variance_analysis" id="id_variance_analysis-{{ performance_review.review_id }}" class="form-control">{{ performance_review.variance_analysis }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="id_achievements-{{ performance_review.review_id }}">Achievements</label>
                                                        <textarea name="achievements" id="id_achievements-{{ performance_review.review_id }}" class="form-control">{{ performance_review.achievements }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_areas_for_improvement-{{ performance_review.review_id }}">Areas for Improvement</label>
                                                        <textarea name="areas_for_improvement" id="id_areas_for_improvement-{{ performance_review.review_id }}" class="form-control">{{ performance_review.areas_for_improvement }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="id_reviewer-{{ performance_review.review_id }}">Reviewer</label>
                                                        <select name="reviewer" id="id_reviewer-{{ performance_review.review_id }}" class="form-control">
                                                            {% for value in reviewers %}
                                                            <option value="{{ value.id }}" {% if performance_review.reviewer.id == value.id %}selected{% endif %}>
                                                                {{ value }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_review_date-{{ performance_review.review_id }}">Review Date</label>
                                                        <input type="datetime-local" name="review_date" id="id_review_date-{{ performance_review.review_id }}" class="form-control" value="{{ performance_review.review_date|date:'Y-m-d\TH:i' }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_performance_reviews.start_index }} - {{ paginated_performance_reviews.end_index }} of {{ paginated_performance_reviews.paginator.count }} Performance Reviews
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_performance_reviews.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_performance_reviews.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link" style="background-color: #f01819 !important; border:#f01819">{{ paginated_performance_reviews.number }}</span>
                    </li>
                    
                    {% if paginated_performance_reviews.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_performance_reviews.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_performance_review' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            <div class="row">
                                <div class="col">
                                    <label for="id_objective">Objective</label>
                                    {{ form.objective|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_review_period">Review Period</label>
                                    {{ form.review_period|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="id_kpis_assessed">KPIs Assessed</label>
                                    {{ form.kpis_assessed|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_target_values">Target Values</label>
                                    {{ form.target_values|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="id_actual_values">Actual Values</label>
                                    {{ form.actual_values|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_variance_analysis">Variance Analysis</label>
                                    {{ form.variance_analysis|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="id_achievements">Achievements</label>
                                    {{ form.achievements|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_areas_for_improvement">Areas for Improvement</label>
                                    {{ form.areas_for_improvement|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="id_reviewer">Reviewer</label>
                                    {{ form.reviewer|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_review_date">Review Date</label>
                                    {{ form.review_date|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a Performance Review is selected
                if (!selectedRadio) {
                    alert('Please select a Performance Review.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected Performance Review ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/erm/continuous_monitoring/performance_reviews/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this Performance Review?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}