{% extends "iam/iam_base.html" %}
{% load static %}
{% load form_filters %}
{% block page_title %}Audit Execution{% endblock page_title %}

{% block content %}
<style>
    .container-fluid{
        min-height: 500px;
        background-color: #ffffff !important;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-bottom: 25px solid gray;
        margin: 0 auto; 
        margin-top: 20px; 
        margin-bottom: 20px;
        
    }
</style>

<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="row">
            <div class="col-2" style="background-color: #e9e9e9; padding: 1px; margin-left: 10px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_sort == 'process_name' %}
                        SORT BY Audit Criteria
                        {% elif current_sort == 'mapped_risks' %}
                        SORT BY Collected Evidence
                        {% elif current_sort == 'execution_id' %}
                        SORT BY ID
                        {% endif %}
                    <span>
                </div>
            </div>
        
            <div class="col-2" style= "background-color: #e9e9e9; padding: 1px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-12" style="margin-left: 10px">
                <!-- Search Form -->
                <form method="get" class="form-inline mb-4">
                    <div class="row">
                        
                        <div class="col-0 ">
                            <label for="search">Filter:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                            value="{{ search_query }}" placeholder="Type to filter..." />
                        </div>
                        
                        <div class="col-2">
                            <button type="submit" class="btn btn-info ml-2">Search</button>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=execution_id&order={% if current_sort == 'execution_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'execution_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Engagement</th>
                        <th>
                            <a href="?sort_by=audit_criteria&order={% if current_sort == 'audit_criteria' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Audit Criteria
                                {% if current_sort == 'audit_criteria' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=findings_summary&order={% if current_sort == 'findings_summary' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Collected Evidence
                                {% if current_sort == 'findings_summary' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Findings Summary</th>
                        <th>Exceptions</th>
                        <th>Root Cause Analysis</th>
                        <th>Completion Date</th>
                        <th>Follow Up Required</th>
                        <th>Recommendations</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>

                <tbody>
                    {% for audit_execution in paginated_audit_executions %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ audit_execution.execution_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_audit_executions.start_index|add:-1 }}</td>
                        <td>{{ audit_execution.engagement_id }}</td>
                        <td>{{ audit_execution.audit_criteria }}</td>
                        <td>{{ audit_execution.findings_summary }}</td>
                        <td>{{ audit_execution.exceptions }}</td>
                        <td>{{ audit_execution.root_cause_analysis }}</td>
                        <td>{{ audit_execution.status }}</td>
                        <td>{{ audit_execution.completion_date }}</td>
                        <td>{{ audit_execution.follow_up_required }}</td>
                        <td>{{ audit_execution.recommendations }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' audit_execution.execution_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if audit_execution.execution_id %}
                    <div class="modal fade" id="editModal-{{ audit_execution.execution_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ audit_execution.execution_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ audit_execution.execution_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_audit_execution' audit_execution.execution_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ audit_execution.execution_id }}" data-toggle="tab" href="#general-{{ audit_execution.execution_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ audit_execution.execution_id }}" role="tabpanel">
                                                <div class="row">
                                                    <!-- Engagement ID -->
                                                    <div class="col">
                                                        <label for="id_engagement_id-{{ audit_execution.engagement_id }}">Engagement</label>
                                                        <select name="engagement_id" id="id_engagement_id-{{ audit_execution.engagement_id }}" class="form-control">
                                                            {% for value in engagements %}
                                                                <option value="{{ value.id }}" {% if audit_execution.engagement_id == value.engagement_id %}selected{% endif %}>{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                            
                                                    <!-- Audit Criteria -->
                                                    <div class="col">
                                                        <label for="id_audit_criteria-{{ audit_execution.engagement_id }}">Audit Criteria</label>
                                                        <textarea name="audit_criteria" id="id_audit_criteria-{{ audit_execution.engagement_id }}" class="form-control">{{ audit_execution.audit_criteria }}</textarea>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <!-- Collected Evidence -->
                                                    <div class="col">
                                                        <label for="id_collected_evidence-{{ audit_execution.engagement_id }}">Collected Evidence</label>
                                                        <textarea name="collected_evidence" id="id_collected_evidence-{{ audit_execution.engagement_id }}" class="form-control">{{ audit_execution.collected_evidence }}</textarea>
                                                    </div>
                            
                                                    <!-- Findings Summary -->
                                                    <div class="col">
                                                        <label for="id_findings_summary-{{ audit_execution.engagement_id }}">Findings Summary</label>
                                                        <textarea name="findings_summary" id="id_findings_summary-{{ audit_execution.engagement_id }}" class="form-control">{{ audit_execution.findings_summary }}</textarea>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <!-- Exceptions -->
                                                    <div class="col">
                                                        <label for="id_exceptions-{{ audit_execution.engagement_id }}">Exceptions</label>
                                                        <textarea name="exceptions" id="id_exceptions-{{ audit_execution.engagement_id }}" class="form-control">{{ audit_execution.exceptions }}</textarea>
                                                    </div>
                            
                                                    <!-- Root Cause Analysis -->
                                                    <div class="col">
                                                        <label for="id_root_cause_analysis-{{ audit_execution.engagement_id }}">Root Cause Analysis</label>
                                                        <textarea name="root_cause_analysis" id="id_root_cause_analysis-{{ audit_execution.engagement_id }}" class="form-control">{{ audit_execution.root_cause_analysis }}</textarea>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <!-- Status -->
                                                    <div class="col">
                                                        <label for="id_status-{{ audit_execution.engagement_id }}">Status</label>
                                                        <select name="status" id="id_status-{{ audit_execution.engagement_id }}" class="form-control">
                                                            {% for value, label in status_choices %}
                                                                <option value="{{ value }}" {% if audit_execution.status == value %}selected{% endif %}>{{ label }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                            
                                                    <!-- Completion Date -->
                                                    <div class="col">
                                                        <label for="id_completion_date-{{ audit_execution.engagement_id }}">Completion Date</label>
                                                        <input type="date" name="completion_date" id="id_completion_date-{{ audit_execution.engagement_id }}" class="form-control" value="{{ audit_execution.completion_date|date:'Y-m-d' }}">
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <!-- Follow-up Required -->
                                                    <div class="col">
                                                        <label for="id_follow_up_required-{{ audit_execution.engagement_id }}">Follow Up Required</label>
                                                        <select name="follow_up_required" id="id_follow_up_required-{{ audit_execution.engagement_id }}" class="form-control">
                                                            <option value="None" {% if audit_execution.follow_up_required == None %}selected{% endif %}>Unknown</option>
                                                            <option value="True" {% if audit_execution.follow_up_required == True %}selected{% endif %}>True</option>
                                                            <option value="False" {% if audit_execution.follow_up_required == False %}selected{% endif %}>False</option>
                                                        </select>
                                                    </div>
                            
                                                    <!-- Recommendations -->
                                                    <div class="col">
                                                        <label for="id_recommendations-{{ audit_execution.engagement_id }}">Recommendations</label>
                                                        <textarea name="recommendations" id="id_recommendations-{{ audit_execution.engagement_id }}" class="form-control">{{ audit_execution.recommendations }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_audit_executions.start_index }} - {{ paginated_audit_executions.end_index }} of {{ paginated_audit_executions.paginator.count }} Audit Execution
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_audit_executions.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_audit_executions.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link">{{ paginated_audit_executions.number }}</span>
                    </li>
                    
                    {% if paginated_audit_executions.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_audit_executions.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_audit_execution' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            <div class="row">
                                <!-- Engagement ID -->
                                <div class="col">
                                    <label for="id_engagement_id">Engagement</label>
                                    {{ form.engagement_id|add_class:"form-control" }}
                                </div>
        
                                <!-- Audit Criteria -->
                                <div class="col">
                                    <label for="id_audit_criteria">Audit Criteria</label>
                                    {{ form.audit_criteria|add_class:"form-control" }}
                                </div>
                            </div>
        
                            <div class="row">
                                <!-- Collected Evidence -->
                                <div class="col">
                                    <label for="id_collected_evidence">Collected Evidence</label>
                                    {{ form.collected_evidence|add_class:"form-control" }}
                                </div>
        
                                <!-- Findings Summary -->
                                <div class="col">
                                    <label for="id_findings_summary">Findings Summary</label>
                                    {{ form.findings_summary|add_class:"form-control" }}
                                </div>
                            </div>
        
                            <div class="row">
                                <!-- Exceptions -->
                                <div class="col">
                                    <label for="id_exceptions">Exceptions</label>
                                    {{ form.exceptions|add_class:"form-control" }}
                                </div>
        
                                <!-- Root Cause Analysis -->
                                <div class="col">
                                    <label for="id_root_cause_analysis">Root Cause Analysis</label>
                                    {{ form.root_cause_analysis|add_class:"form-control" }}
                                </div>
                            </div>
        
                            <div class="row">
                                <!-- Status -->
                                <div class="col">
                                    <label for="id_status">Status</label>
                                    {{ form.status|add_class:"form-control" }}
                                </div>
        
                                <!-- Completion Date -->
                                <div class="col">
                                    <label for="id_completion_date">Completion Date</label>
                                    {{ form.completion_date|add_class:"form-control" }}
                                </div>
                            </div>
        
                            <div class="row">
                                <!-- Follow-up Required -->
                                <div class="col">
                                    <label for="id_follow_up_required">Follow Up Required</label>
                                    {{ form.follow_up_required|add_class:"form-control" }}
                                </div>
        
                                <!-- Recommendations -->
                                <div class="col">
                                    <label for="id_recommendations">Recommendations</label>
                                    {{ form.recommendations|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a Audit Execution is selected
                if (!selectedRadio) {
                    alert('Please select a Audit Execution.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected Audit Execution ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/iam/audit_executions/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this Audit Execution?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}
