{% extends "iam/iam_base.html" %}
{% load static %}
{% load form_filters %}
{% block page_title %}Internal Audit Dashboard{% endblock page_title %}

{% block content %}
<style>
   
    .chart-container {
        padding: 20px;
        border-radius: 8px;
        //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: 10px auto;
        height: 300px; /* Adjust height */
        width: 60%; /* Adjust width to make room for other charts */
        display: inline-block; /* Allow charts to sit next to each other */
        vertical-align: top; /* Align the charts at the top */
    }

    #chart_data_inherent {
        width: 100%;
        height: 100%;
    }
    #chart_data_residual {
        width: 100%;
        height: 100%;
    }
    #heatmap {
        width: 100%;
        height: 100%;
    }
    #residual_heatmap {
        width: 100%;
        height: 100%;
    }
    #inherent_gauge_chart_data {
        width: 100%;
        height: 100%;
    }
    #residual_gauge_chart {
        width: 100%;
        height: 100%;
    }
    #category_chart {
        width: 100%;
        height: 100%;
    }
    
    #risk_score_chart {
        width: 100%;
        height: 100%;
    }
    #entity_type_chart {
        width: 100%;
        height: 100%;
    }

</style>
<section class="content">
    {% comment %} <h1 class="text-center">Risk Management Dashboard</h1> {% endcomment %}
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            {% comment %} <!-- Total Departments -->
            <div class="col-lg-3 col-6">
                <div class="small-box">
                    <div class="inner text-left">
                        <h3>{{ total_department }}</h3>
                        <p>Total Departments</p>
                    </div>
                    <div class="icon text-left">
                        <i class="nav-icon fas fa-cog" style="color: #cc0000; font-size: 50px;"></i>
                    </div>
                    <a href="{% url 'manage_department' %}" class="small-box-footer bg-dark">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Placeholder -->
            <div class="col-lg-3 col-6">
                <div class="small-box">
                    <div class="inner text-left">
                        <h3>#</h3>
                        <p>###</p>
                    </div>
                    <div class="icon text-left">
                        <i class="nav-icon fas fa-list" style="color: #cc0000; font-size: 50px;"></i>
                    </div>
                    <a href="#" class="small-box-footer bg-dark">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>{% endcomment %}
        </div>
        <!-- /.row --> 

        <!-- Additional Charts -->
        <div class="row">
            <div class="col-md-6">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">Audit Universe by Entity Type</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <div id="entity_type_chart" style="width: 450px; height: 400px;"></div>
                            {% comment %} <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">Audit Universe Risk Score</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <div id="risk_score_chart" style="width: 600px; height: 400px; margin: auto;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chart Rows -->
        <div class="row">
            <div class="col-md-6">
                
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Company-Wide Risk Assessment</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <div id="category_chart" style="width: 450px; height: 400px;"></div>
                            {% comment %} <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">#</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <div id="" style="width: 450px; height: 400px;"></div>
                            {% comment %} <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- /.row -->
  
    </div>
    
    
</section>

       
        
<script src="{% static 'dist/js/echarts.min.js'%}"></script>
<script>
    var categoryChartData = {{ category_chart_data|safe }};

    var chartDom = document.getElementById('category_chart');
    var myChart = echarts.init(chartDom);

    var option = {
        color: ['#CC0000', '#f97d6d'], // Red for inherent, orange for residual
        tooltip: {
            trigger: 'axis',
            axisPointer: { type: 'cross' }
        },
        legend: { data: ['Inherent Risk', 'Residual Risk'] },
        xAxis: {
            type: 'category',
            data: categoryChartData.categories // Risk categories
        },
        yAxis: {
            type: 'value',
            name: 'Risks',
            axisLine: { lineStyle: { color: '#333' } }
        },
        series: [
            {
                name: 'Inherent Risk',
                type: 'bar',
                data: categoryChartData.inherent_risks // Total inherent risks
            },
            {
                name: 'Residual Risk',
                type: 'bar',
                data: categoryChartData.residual_risks // Total residual risks
            }
        ]
    };

    myChart.setOption(option);
</script>
<script>
    var riskChartData = {{ risk_chart_data|safe }};
    var chartDom = document.getElementById('risk_score_chart');
    var myChart = echarts.init(chartDom);

    var option = {
        color: ['#f97d6d'],
        xAxis: { type: 'category', data: riskChartData.risk_scores, name: 'Score' },
        yAxis: { type: 'value', name: 'Entities' },
        series: [{ name: 'Entities', type: 'bar', data: riskChartData.counts }]
    };

    myChart.setOption(option);
</script>

<script>
    var entityTypeChartData = {{ entity_type_chart_data|safe }};
    var chartDom = document.getElementById('entity_type_chart');
    var myChart = echarts.init(chartDom);

    var option = {
        tooltip: { trigger: 'item' },
        legend: { top: '5%', left: 'center' },
        series: [{
            name: 'Entity Type',
            type: 'pie',
            radius: '50%',
            data: entityTypeChartData.entity_types.map((type, index) => ({
                value: entityTypeChartData.counts[index],
                name: type
            }))
        }]
    };

    myChart.setOption(option);
</script>

{% endblock content %}