{% extends "iam/iam_base.html" %}
{% load static %}
{% load form_filters %}
{% block page_title %}FollowUp{% endblock page_title %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="flex justify-between items-center mb-4"> 
            <div class="flex justify-center items-center gap-4">
                <div class="w-[250px] bg-[#e9e9e9] rounded-2xl text-center py-1" >
                    <span>
                        {% if current_sort == 'entity_name' %}
                        SORT BY Entity Name
                        {% elif current_sort == 'issues_resolved' %}
                        SORT BY Issues Resolved
                        {% elif current_sort == 'follow_up_id' %}
                        SORT BY ID
                        {% endif %}
                    </span>
                </div>
            
                <div class="w-[250px] bg-[#e9e9e9] rounded-2xl text-center py-1 ">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- <a class="flex justify-center items-center text-[22px] bg-[#e9e9e9] hover:bg-[#f1f1f1] hover:!text-red-500 rounded-full w-12 h-12 cursor-pointer hover:scale-110 transition-all duration-150 ease-in-out" title="Help" href="#popup1">
                <i class="fa-regular fa-circle-question"></i>
            </a> -->
            <div id="popup1" class="overlay">
                <div class="popup">
                    <a class="close" href="#">&times;</a>
                    <h2 class="text-lg font-bold mb-4">Info & Documents you Need:</h2>
                    <ul class="list-disc list-inside mb-6 text-gray-700">
                        <li>Final Audit Report with agreed corrective actions.</li>
                        <li>Action plans and evidence provided by the auditee.</li>
                        <li>Risk assessment frameworks and testing procedures.</li>
                        <li>Templates for documenting follow-up findings.</li>
                    </ul>
                    <h2 class="text-lg font-bold mb-4">How to update this page?</h2>
                    <ul class="list-disc list-inside mb-6 text-gray-700 space-y-2">
                        <li>Review the Final Audit Report and list all corrective actions agreed upon.</li>
                        <li>Schedule a follow-up audit to verify the implementation of these actions.</li>
                        <li>Request evidence of corrective actions from the auditee (e.g., updated processes, new controls).</li>
                        <li>Reassess the identified risks to determine if they have been mitigated.</li>
                        <li>Verify the effectiveness of implemented corrective actions through testing.</li>
                        <li>Document any unresolved issues or new risks identified during the follow-up audit.</li>
                        <li>Share preliminary findings with the auditee for their review and feedback.</li>
                        <li>Prepare a Follow-Up Audit Report summarizing the status of corrective actions.</li>
                        <li>Submit the report to senior management for review and approval.</li>
                        <li>Record the findings in the Follow-Up Audit Report Form.</li>
                    </ul>
                    <h2 class="text-lg font-bold mb-4">Expected results:</h2>
                    <ul class="list-disc list-inside text-gray-700">
                        <li>A completed Follow-Up Audit Report with status updates on corrective actions.</li>
                        <li>Verification of the implementation and effectiveness of corrective actions.</li>
                        <li>Identification of unresolved issues or new risks, if any.</li>
                        <li>Feedback from the auditee on preliminary findings.</li>
                        <li>Approval from senior management on the follow-up audit outcomes.</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="col-12" style="margin-left: 10px">
            <!-- Search Form -->
            <form method="get" class="form-inline mb-4">
                <div class="row">
                    
                    <div class="col-0 ">
                        <label for="search">Filter:</label>
                    </div>
                    <div class="col-3">
                        <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                        value="{{ search_query }}" placeholder="Type to filter..." />
                    </div>
                    
                    <div class="col-2">
                        <button type="submit" class="btn btn-info ml-2">Search</button>
                    </div>
                </div>  
            </form>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=follow_up_id&order={% if current_sort == 'follow_up_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'follow_up_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=entity_name&order={% if current_sort == 'entity_name' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Entity Name
                                {% if current_sort == 'entity_name' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=issues_resolved&order={% if current_sort == 'issues_resolved' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Issues Resolved
                                {% if current_sort == 'issues_resolved' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Corrective Actions</th>
                        <th>FollowUp By</th>
                        <th>Review Date</th>
                        <th>Comments</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>

                <tbody>
                    {% for follow_up in paginated_follow_ups %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ follow_up.follow_up_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_follow_ups.start_index|add:-1 }}</td>
                        <td>{{ follow_up.entity_name }}</td>
                        <td>{{ follow_up.issues_resolved }}</td>
                        <td>{{ follow_up.corrective_actions }}</td>
                        <td>{{ follow_up.follow_up_by }}</td>
                        <td>{{ follow_up.follow_up_date }}</td>
                        <td>{{ follow_up.comments }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' follow_up.follow_up_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if follow_up.follow_up_id %}
                    <div class="modal fade" id="editModal-{{ follow_up.follow_up_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ follow_up.follow_up_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ follow_up.follow_up_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_follow_up' follow_up.follow_up_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ follow_up.follow_up_id }}" data-toggle="tab" href="#general-{{ follow_up.follow_up_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ follow_up.follow_up_id }}" role="tabpanel">
                                                <div class="row">
                                                   
                                                    <!-- Entity Name -->
                                                    <div class="col">
                                                        <label for="id_entity_name-{{ follow_up.follow_up_id }}">Entity Name</label>
                                                        <textarea name="entity_name" id="id_entity_name-{{ follow_up.follow_up_id }}" class="form-control">{{ follow_up.entity_name }}</textarea>
                                                    </div>
                                                
                                                    <div class="col">
                                                        <label for="id_follow_up_by-{{ follow_up.follow_up_id }}">FollowUp By</label>
                                                        <select name="follow_up_by" id="id_follow_up_by-{{ follow_up.follow_up_id }}" class="form-control">
                                                            {% for value in follow_up_by_choices %}
                                                                <option value="{{ value.id }}" {% if follow_up.follow_up_by.id == value.id %}selected{% endif %}>
                                                                    {{ value }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- Review Date -->
                                                    <div class="col">
                                                        <label for="id_follow_up_date-{{ follow_up.follow_up_id }}">Review Date</label>
                                                        <input type="date" name="follow_up_date" id="id_follow_up_date-{{ follow_up.follow_up_id }}" class="form-control" value="{{ follow_up.follow_up_date|date:'Y-m-d' }}">
                                                    </div>
                            
                                                    <!-- Issues Resolved -->
                                                    <div class="col">
                                                        <label for="id_issues_resolved-{{ follow_up.follow_up_id }}">Issues Resolved</label>
                                                        <textarea name="issues_resolved" id="id_issues_resolved-{{ follow_up.follow_up_id }}" class="form-control">{{ follow_up.issues_resolved }}</textarea>
                                                    </div>
                                                    
                                                    
                                                </div>
                            
                                                
                            
                                                <div class="row">
                                                    
                                                    <!-- Corrective Actions -->
                                                    <div class="col">
                                                        <label for="id_corrective_actions-{{ follow_up.follow_up_id }}">Corrective Actions</label>
                                                        <textarea name="corrective_actions" id="id_corrective_actions-{{ follow_up.follow_up_id }}" class="form-control">{{ follow_up.corrective_actions }}</textarea>
                                                    </div>
                                                    <!-- Comments -->
                                                    <div class="col">
                                                        <label for="id_comments-{{ follow_up.follow_up_id }}">Comments</label>
                                                        <textarea name="comments" id="id_comments-{{ follow_up.follow_up_id }}" class="form-control">{{ follow_up.comments }}</textarea>
                                                    </div>
                                                </div>
                            
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_follow_ups.start_index }} - {{ paginated_follow_ups.end_index }} of {{ paginated_follow_ups.paginator.count }} FollowUp
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_follow_ups.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_follow_ups.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link">{{ paginated_follow_ups.number }}</span>
                    </li>
                    
                    {% if paginated_follow_ups.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_follow_ups.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_follow_up' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            
                            <div class="row">
                               
                                <!-- Entity Name -->
                                <div class="col">
                                    <label for="id_entity_name">Entity Name</label>
                                    {{ form.entity_name|add_class:"form-control" }}
                                </div>
                                <!-- FollowUp By -->
                                <div class="col">
                                    <label for="id_follow_up_by">FollowUp By</label>
                                    {{ form.follow_up_by|add_class:"form-control" }}
                                </div>
                            </div>
        
                            <div class="row">
                                 
                                <!-- Review Date -->
                                <div class="col">
                                    <label for="id_follow_up_date">Review Date</label>
                                    {{ form.follow_up_date|add_class:"form-control" }}
                                </div>
                                <!-- Issues Resolved -->
                                <div class="col">
                                    <label for="id_issues_resolved">Issues Resolved</label>
                                    {{ form.issues_resolved|add_class:"form-control" }}
                                </div>
                                
                                
                            </div>
        
                            
        
                            <div class="row">
                                
        
                                <!-- Corrective Actions -->
                                <div class="col">
                                    <label for="id_corrective_actions">Corrective Actions</label>
                                    {{ form.corrective_actions|add_class:"form-control" }}
                                </div>
                                <!-- Comments -->
                                <div class="col">
                                    <label for="id_comments">Comments</label>
                                    {{ form.comments|add_class:"form-control" }}
                                </div>
                            </div>
        
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a FollowUp is selected
                if (!selectedRadio) {
                    alert('Please select a FollowUp.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected FollowUp ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/iam/follow_ups/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this FollowUp?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}