{% extends "gm/gm_base.html" %}
{% load static %}
{% load form_filters %}
{% block page_title %}Ethical Governance{% endblock page_title %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="row">
            <div class="col-2" style="background-color: #e9e9e9; padding: 1px; margin-left: 10px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_sort == 'incident_type' %}
                        SORT BY Incident Type
                        {% elif current_sort == 'incident_reported_by' %}
                        SORT BY Incident Reported By
                        {% elif current_sort == 'ethics_id' %}
                        SORT BY ID
                        {% endif %}
                    <span>
                </div>
            </div>
        
            <div class="col-2" style= "background-color: #e9e9e9; padding: 1px; margin-right: 5px; margin-bottom: 15px; text-align: center; border-radius: 10px">
                <div class="box">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-12" style="margin-left: 10px">
                <!-- Search Form -->
                <form method="get" class="form-inline mb-4">
                    <div class="row">
                        
                        <div class="col-0 ">
                            <label for="search">Filter:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                            value="{{ search_query }}" placeholder="Type to filter..." />
                        </div>
                        
                        <div class="col-2">
                            <button type="submit" class="btn btn-info ml-2">Search</button>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=ethics_id&order={% if current_sort == 'ethics_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'ethics_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Code of Conduct Reference</th>
                        <th>
                            <a href="?sort_by=incident_type&order={% if current_sort == 'incident_type' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Incident Type
                                {% if current_sort == 'incident_type' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=incident_reported_by&order={% if current_sort == 'incident_reported_by' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Incident Reported By
                                {% if current_sort == 'incident_reported_by' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Resolution Status</th>
                        <th>Responsible Owner</th>
                        <th>Follow-Up Actions</th>
                        <th>Review Date</th>
                        <th>Ethical Risk Rating</th>
                        <th>Comments</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>

                <tbody>
                    {% for ethical_governance in paginated_ethical_governances %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ ethical_governance.ethics_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_ethical_governances.start_index|add:-1 }}</td>
                        <td>{{ ethical_governance.code_of_conduct_reference }}</td>
                        <td>{{ ethical_governance.incident_type }}</td>
                        <td>{{ ethical_governance.incident_reported_by }}</td>
                        <td>{{ ethical_governance.resolution_status }}</td>
                        <td>{{ ethical_governance.responsible_owner }}</td>
                        <td>{{ ethical_governance.follow_up_actions }}</td>
                        <td>{{ ethical_governance.review_date }}</td>
                        <td>{{ ethical_governance.ethical_risk_rating }}</td>
                        <td>{{ ethical_governance.comments }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' ethical_governance.ethics_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if ethical_governance.ethics_id %}
                    <div class="modal fade" id="editModal-{{ ethical_governance.ethics_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ ethical_governance.ethics_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ ethical_governance.ethics_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_ethical_governance' ethical_governance.ethics_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ ethical_governance.ethics_id }}" data-toggle="tab" href="#general-{{ ethical_governance.ethics_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ ethical_governance.ethics_id }}" role="tabpanel">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="code_of_conduct_reference-{{ ethical_governance.ethics_id }}">Code of Conduct Reference</label>
                                                        <textarea name="code_of_conduct_reference" id="code_of_conduct_reference-{{ ethical_governance.ethics_id }}" class="form-control">{{ ethical_governance.code_of_conduct_reference }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="incident_type-{{ ethical_governance.ethics_id }}">Incident Type</label>
                                                        <input type="text" name="incident_type" id="incident_type-{{ ethical_governance.ethics_id }}" class="form-control" value="{{ ethical_governance.incident_type }}">
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col">
                                                        <label for="incident_reported_by-{{ ethical_governance.ethics_id }}">Incident Reported By</label>
                                                        <select name="incident_reported_by" id="incident_reported_by-{{ ethical_governance.ethics_id }}" class="form-control">
                                                            {% for value in incident_reported_by_choices %}
                                                                <option value="{{ value.id }}" {% if ethical_governance.incident_reported_by.id == value.id %}selected{% endif %}>
                                                                    {{ value }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="resolution_status-{{ ethical_governance.ethics_id }}">Resolution Status</label>
                                                        <select name="resolution_status" id="resolution_status-{{ ethical_governance.ethics_id }}" class="form-control">
                                                            {% for value, label in resolution_status_choices %}
                                                                <option value="{{ value }}" {% if ethical_governance.resolution_status == value %}selected{% endif %}>
                                                                    {{ label }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col">
                                                        <label for="responsible_owner-{{ ethical_governance.ethics_id }}">Responsible Owner</label>
                                                        <select name="responsible_owner" id="responsible_owner-{{ ethical_governance.ethics_id }}" class="form-control">
                                                            {% for value in responsible_owner_choices %}
                                                                <option value="{{ value.id }}" {% if ethical_governance.responsible_owner.id == value.id %}selected{% endif %}>
                                                                    {{ value }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="follow_up_actions-{{ ethical_governance.ethics_id }}">Follow-Up Actions</label>
                                                        <textarea name="follow_up_actions" id="follow_up_actions-{{ ethical_governance.ethics_id }}" class="form-control">{{ ethical_governance.follow_up_actions }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col">
                                                        <label for="review_date-{{ ethical_governance.ethics_id }}">Review Date</label>
                                                        <input type="date" name="review_date" id="review_date-{{ ethical_governance.ethics_id }}" class="form-control" value="{{ ethical_governance.review_date|date:'Y-m-d' }}">
                                                    </div>
                                                    <div class="col">
                                                        <label for="ethical_risk_rating-{{ ethical_governance.ethics_id }}">Ethical Risk Rating</label>
                                                        <textarea name="ethical_risk_rating" id="ethical_risk_rating-{{ ethical_governance.ethics_id }}" class="form-control">{{ ethical_governance.ethical_risk_rating }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col">
                                                        <label for="comments-{{ ethical_governance.ethics_id }}">Comments</label>
                                                        <textarea name="comments" id="comments-{{ ethical_governance.ethics_id }}" class="form-control">{{ ethical_governance.comments }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_ethical_governances.start_index }} - {{ paginated_ethical_governances.end_index }} of {{ paginated_ethical_governances.paginator.count }} Ethical Governance
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_ethical_governances.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_ethical_governances.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link">{{ paginated_ethical_governances.number }}</span>
                    </li>
                    
                    {% if paginated_ethical_governances.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_ethical_governances.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_ethical_governance' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            <div class="row">
                                <div class="col">
                                    <label for="code_of_conduct_reference">Code of Conduct Reference</label>
                                    {{ form.code_of_conduct_reference|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="incident_type">Incident Type</label>
                                    {{ form.incident_type|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="incident_reported_by">Incident Reported By</label>
                                    {{ form.incident_reported_by|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="resolution_status">Resolution Status</label>
                                    {{ form.resolution_status|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="responsible_owner">Responsible Owner</label>
                                    {{ form.responsible_owner|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="follow_up_actions">Follow-Up Actions</label>
                                    {{ form.follow_up_actions|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="review_date">Review Date</label>
                                    {{ form.review_date|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="ethical_risk_rating">Ethical Risk Rating</label>
                                    {{ form.ethical_risk_rating|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="comments">Comments</label>
                                    {{ form.comments|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a Ethical Governance is selected
                if (!selectedRadio) {
                    alert('Please select a Ethical Governance.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected Ethical Governance ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/gm/ethical_governances/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this Ethical Governance?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}
