{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row  d-flex justify-content-center align-items-center">
                            <div class="col-11">
                                <h3 class="card-title">{{page_title}}</h3>
                            </div>
                            <div class="col">
                                <a href="{% url 'add_department' %}" class="btn btn-success">Add</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <theaD class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Department</th>
                                    <th>Actions</th>
                                </tr>
                            </theaD>
                            <tbody>
                                {% for department in departments %}
                                <tr>
                                    <td style="width: 5%;">{{ forloop.counter }}</td>
                                    <td style="width: 75%;">{{department.name}}</td>
                                    <td style="width: 20%;">
                                        <a href="{% url 'edit_department' department.id %}" class="btn btn-info">Edit</a> -
                                        <a href="{% url 'delete_department' department.id %}" onclick="return confirm('Are you sure you want to delete this department ?')" class="btn btn-danger">Delete</a> 
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}