{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://kit.fontawesome.com/178e567442.js" crossorigin="anonymous"></script>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row  d-flex justify-content-center align-items-center">
                            <div class="col-10">
                                <h3 class="card-title">{{page_title}}</h3>
                            </div>
                            <div class="col-2">
                                <a href="{% url 'add_staff' %}" class="btn w-[160px] text-white bg-[#343a40] hover:bg-[#000000d3] hover:scale-105 transition-all duration-100 ease-in-out ">Add New</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Department</th>
                                    <th>Avatar</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in allStaff %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{staff.first_name}}  {{staff.last_name}}</td>
                                    <td>{{staff.email}}</td>
                                    <td>{{staff.gender}}</td>
                                    <td>{{staff.staff.department.name}}</td>
                                    <td>
                                        {% if staff.profile_pic == ""  %}
                                        No Image
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="56" width="56"
                                            src="{{staff.profile_pic}}" alt="">
                                        {% endif %}
                                    </td>
                                    <td class="text-center text-[20px]">
                                        <a href="{% url 'edit_staff' staff.staff.id %}" class="btn"style="color: #343A40; font-size: 20px;"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a href="{% url 'delete_staff' staff.staff.id %}" class="btn" onclick="return confirm('Are you sure about this ?')" style="color: #f01819; font-size: 22px;"><i class="fa-regular fa-trash-can"></i></a> 
                                    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}