{% extends 'iam/iam_base.html' %}
{% load static %}
{% load form_filters %}
{% block page_title %}Draft Report{% endblock page_title %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
<div class="container-fluid mt-4">
    <form method="POST" id="action-form">
        {% csrf_token %}
        {% comment %} <div class="mb-3 action_menu">
            <select id="action-menu" class="form-control w-25 d-inline-block">
                <option value="">Select Action</option>
                <option value="edit">Edit</option>
                <option value="delete">Delete</option>
            </select>
            <button type="button" id="perform-action" class="btn btn-primary">Perform Action</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
        </div> {% endcomment %}
        <div class="flex justify-between items-center mb-4"> 
            <div class="flex justify-center items-center gap-4">
                <div class="w-[250px] bg-[#e9e9e9] rounded-2xl text-center py-1" >
                    <span>
                        {% if current_sort == 'entity_name' %}
                        SORT BY Entity Name
                        {% elif current_sort == 'findings' %}
                        SORT BY Findings
                        {% elif current_sort == 'report_id' %}
                        SORT BY ID
                        {% endif %}
                    </span>
                </div>
            
                <div class="w-[250px] bg-[#e9e9e9] rounded-2xl text-center py-1 ">
                    <span>
                        {% if current_order == 'asc' %}
                        ORDER IS ASC
                        {% else %}
                        ORDER IS DES
                        {% endif %}
                    </span>
                </div>
            </div>
            <a class="flex justify-center items-center text-[22px] bg-[#e9e9e9] hover:bg-[#f1f1f1] hover:!text-red-500 rounded-full w-12 h-12 cursor-pointer hover:scale-110 transition-all duration-150 ease-in-out" title="Help" href="#popup1">
                <i class="fa-regular fa-circle-question"></i>
            </a>
            <div id="popup1" class="overlay">
                <div class="popup overflow-y-auto">
                    <a class="close z-10" href="#">&times;</a>
                    <section class="relative overflow-hidden bg-gray-50 ">
                        <div class=" py-10 overflow-hidden">
                            <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
                                <div class="relative">
                                    <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
                                        <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="875" height="48" viewBox="0 0 875 48"
                                            fill="none">
                                            <path
                                                d="M2 29C20.2154 33.6961 38.9915 35.1324 57.6111 37.5555C80.2065 40.496 102.791 43.3231 125.556 44.5555C163.184 46.5927 201.26 45 238.944 45C312.75 45 385.368 30.7371 458.278 20.6666C495.231 15.5627 532.399 11.6429 569.278 6.11109C589.515 3.07551 609.767 2.09927 630.222 1.99998C655.606 1.87676 681.208 1.11809 706.556 2.44442C739.552 4.17096 772.539 6.75565 805.222 11.5C828 14.8064 850.34 20.2233 873 24"
                                                stroke="#D4D4D8" stroke-width="3" stroke-linecap="round" stroke-dasharray="1 12" />
                                        </svg>
                                    </div>
                                    <div
                                        class="relative grid grid-cols-1 text-center gap-y-8 sm:gap-y-10 md:gap-y-12 md:grid-cols-3 gap-x-12">
                                        <div>
                                            <div
                                                class="flex items-center justify-center w-16 h-16 mx-auto bg-white  border-2 border-gray-200  rounded-full shadow hover:!bg-gray-700 text-gray-700 hover:!text-white transition-all duration-200 ease-in">
                                                <span class="text-xl font-semibold  ">1</span>
                                            </div>
                                            <h3
                                                class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900  md:mt-10">
                                                Input
                                            </h3>
                                            <p class="mt-3 sm:mt-4 font-bold text-base text-gray-700 ">
                                                Observation Sheets, Working Papers.
                                            </p>
                                        </div>
                                        <div>
                                            <div
                                                class="flex items-center justify-center w-16 h-16 mx-auto bg-white  border-2 border-gray-200  rounded-full shadow hover:!bg-gray-700 text-gray-700 hover:!text-white transition-all duration-200 ease-in">
                                                <span class="text-xl font-semibold ">2</span>
                                            </div>
                                            <h3
                                                class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900  md:mt-10">
                                                Processing 
                                            </h3>
                                            <p class="mt-3 sm:mt-4 font-bold text-base text-gray-700 ">
                                                Summarize findings, recommendations, and corrective actions into a draft report.
                                            </p>
                                        </div>
                                        <div>
                                            <div
                                                class="flex items-center justify-center w-16 h-16 mx-auto bg-white  border-2 border-gray-200  rounded-full shadow hover:!bg-gray-700 text-gray-700 hover:!text-white transition-all duration-200 ease-in">
                                                <span class="text-xl font-semibold ">3</span>
                                            </div>
                                            <h3
                                                class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900  md:mt-10">
                                                Output
                                            </h3>
                                            <p class="mt-3 sm:mt-4 font-bold text-base text-gray-700 ">
                                                Draft Audit Report shared with stakeholders for review and feedback.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="text-2xl font-bold text-center w-72 px-8 py-2 border border-gray-400 shadow-lg mx-auto rounded-3xl hover:bg-gray-700 hover:text-white transition-all duration-300 ease-in">Instructions</h1>
                        <!-- component -->
                        <div class="container mx-auto w-full h-full ">
                            <div class="relative wrap overflow-hidden p-10 pb-0 h-full">
                            <div class="border-2-2 absolute border-opacity-20 border-gray-700 h-[90%] mt-10 border" style="left: 50%"></div>
                            <!-- right timeline -->
                            <div class="mb-8 flex justify-center gap-16 items-center w-full right-timeline ">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
                                </div>
                                <div class="order-1 bg-gray-200 rounded-lg text-gray-900  shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                <p class=" leading-snug tracking-wide  text-opacity-100">Review the finalized Observation Sheets and summarize key findings.</p>
                                </div>
                            </div>
                            <!-- left timeline -->
                            <div class="mb-8 flex justify-center gap-16 flex-row-reverse items-center w-full left-timeline">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                <h1 class="mx-auto text-white font-semibold text-lg">2</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                    <p class="leading-snug tracking-wide  text-opacity-100">Include relevant evidence and observations from the Working Papers to support findings.</p>
                                </div>
                            </div>
                            
                            <!-- right timeline -->
                            <div class="mb-8 flex justify-center gap-16 items-center w-full right-timeline">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                <h1 class="mx-auto font-semibold text-lg text-white">3</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                    <p class="leading-snug tracking-wide  text-opacity-100">Highlight risks, recommendations, and corrective actions in the draft report.</p>
                                </div>
                            </div>
                        
                            <!-- left timeline -->
                            <div class="mb-8 flex justify-center gap-16 flex-row-reverse items-center w-full left-timeline">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                <h1 class="mx-auto text-white font-semibold text-lg">4</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                    <p class="leading-snug tracking-wide  text-opacity-100">Organize the report into sections such as Introduction, Objectives, Findings, and Recommendations.</p>
                                </div>
                            </div>

                            <!-- right timeline -->
                            <div class="mb-8 flex justify-center gap-16 items-center w-full right-timeline">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                  <h1 class="mx-auto text-white font-semibold text-lg">5</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                  <p class="leading-snug tracking-wide  text-opacity-100">Make revisions to the draft based on feedback received from the auditee.</p>
                                </div>
                              </div>
                              
                            <!-- left timeline -->
                              <div class="mb-8 flex justify-center gap-16 flex-row-reverse items-center w-full left-timeline">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                  <h1 class="mx-auto text-white font-semibold text-lg">6</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                  <p class="leading-snug tracking-wide  text-opacity-100">Validate the revised draft with the audit team for accuracy and completeness.</p>
                                </div>
                              </div>

                            <!-- right timeline -->
                              <div class="mb-8 flex justify-center gap-16 items-center w-full right-timeline">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                  <h1 class="mx-auto text-white font-semibold text-lg">7</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                  <p class="leading-snug tracking-wide  text-opacity-100">Save the finalized draft in the Draft Audit Report Form.</p>
                                </div>
                              </div>

                            <!-- left timeline -->
                              <div class="flex justify-center gap-16 flex-row-reverse items-center w-full left-timeline mb-8">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                  <h1 class="mx-auto text-white font-semibold text-lg">8</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                  <p class="leading-snug tracking-wide  text-opacity-100">Review the finalized Observation Sheets and summarize key findings.</p>
                                </div>
                              </div>
                            <!-- right timeline -->
                              <div class="mb-8 flex justify-center gap-16 items-center w-full right-timeline">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                  <h1 class="mx-auto text-white font-semibold text-lg">9</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in">
                                  <p class="leading-snug tracking-wide  text-opacity-100">Save the finalized draft in the Draft Audit Report Form.</p>
                                </div>
                              </div>

                            <!-- left timeline -->
                              <div class="flex justify-center gap-16 flex-row-reverse items-center w-full left-timeline">
                                <div class="order-1 w-5/12"></div>
                                <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-14 h-14 rounded-full">
                                  <h1 class="mx-auto text-white font-semibold text-lg">10</h1>
                                </div>
                                <div class="order-1 bg-gray-200 text-gray-900 hover:bg-gray-900 hover:text-white transition-all duration-300 ease-in  rounded-lg shadow-xl w-5/12 h-32 px-6 flex justify-center items-center">
                                  <p class="leading-snug tracking-wide  text-opacity-100">Review the finalized Observation Sheets and summarize key findings.</p>
                                </div>
                              </div>
                              
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            
        </div>
        <div class="col-12" style="margin-left: 10px">
            <!-- Search Form -->
            <form method="get" class="form-inline mb-4">
                <div class="row">
                    
                    <div class="col-0 ">
                        <label for="search">Filter:</label>
                    </div>
                    <div class="col-3">
                        <input type="text" id="search" style="margin-bottom: 10px" name="search" class="form-control" 
                        value="{{ search_query }}" placeholder="Type to filter..." />
                    </div>
                    
                    <div class="col-2">
                        <button type="submit" class="btn btn-info ml-2">Search</button>
                    </div>
                </div>  
            </form>
        
            
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <a href="?sort_by=report_id&order={% if current_sort == 'report_id' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                #
                                {% if current_sort == 'report_id' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=entity_name&order={% if current_sort == 'entity_name' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Entity Name
                                {% if current_sort == 'entity_name' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a href="?sort_by=findings&order={% if current_sort == 'findings' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                Findings
                                {% if current_sort == 'findings' %}
                                    {% if current_order == 'asc' %}
                                        &#x2191;
                                    {% else %}
                                        &#x2193;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Recommendations</th>
                        <th>Draft Date</th>
                        <th>Drafted By</th>
                        <th>Comments</th>
                        
                        {% comment %} <th>Actions</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for draft_report in paginated_draft_reports %}
                    <tr >
                        <td><input type="radio" name="selected" value="{{ draft_report.report_id }}"></td>
                        <td>{{ forloop.counter|add:paginated_draft_reports.start_index|add:-1 }}</td>
                        <td>{{ draft_report.entity_name }}</td>
                        <td>{{ draft_report.findings }}</td>
                        <td>{{ draft_report.recommendations }}</td>
                        <td>{{ draft_report.draft_date }}</td>
                        <td>{{ draft_report.drafted_by }}</td>
                        <td>{{ draft_report.comments }}</td>
                        {% comment %} <td>
                            <!-- View Workflow Icon -->
                            <a href="{% url 'workflow_view' draft_report.report_id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> View
                            </a>
                        </td> {% endcomment %}
                    </tr>

                    <!-- Edit Modal -->
                    {% if draft_report.report_id %}
                    <div class="modal fade" id="editModal-{{ draft_report.report_id }}" tabindex="-1" aria-labelledby="editModalLabel-{{ draft_report.report_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-{{ draft_report.report_id }}">Edit</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'edit_draft_report' draft_report.report_id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="general-tab-{{ draft_report.report_id }}" data-toggle="tab" href="#general-{{ draft_report.report_id }}" role="tab">General</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3">
                                            <!-- General Tab -->
                                            <div class="tab-pane fade show active" id="general-{{ draft_report.report_id }}" role="tabpanel">
                                                <div class="row">
                                                    
                                                    <div class="col">
                                                        <label for="id_entity_name-{{ draft_report.report_id }}">Entity Name</label>
                                                        <input type="text" name="entity_name" id="id_entity_name-{{ draft_report.report_id }}" class="form-control" value="{{ draft_report.entity_name }}">
                                                    </div>
                                                </div>
                            
                                                <div class="row mt-3">
                                                    <div class="col">
                                                        <label for="id_findings-{{ draft_report.report_id }}">Findings</label>
                                                        <textarea name="findings" id="id_findings-{{ draft_report.report_id }}" class="form-control">{{ draft_report.findings }}</textarea>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_recommendations-{{ draft_report.report_id }}">Recommendations</label>
                                                        <textarea name="recommendations" id="id_recommendations-{{ draft_report.report_id }}" class="form-control">{{ draft_report.recommendations }}</textarea>
                                                    </div>
                                                </div>
                            
                                                <div class="row mt-3">
                                                    <div class="col">
                                                        <label for="id_drafted_by-{{ draft_report.report_id }}">Drafted By</label>
                                                        <select name="drafted_by" id="id_drafted_by-{{ draft_report.report_id }}" class="form-control">
                                                            {% for value in drafted_by_choices %}
                                                                <option value="{{ value.id }}" {% if draft_report.drafted_by.id == value.id %}selected{% endif %}>{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label for="id_draft_date-{{ draft_report.report_id }}">Draft Date</label>
                                                        <input type="date" name="draft_date" id="id_draft_date-{{ draft_report.report_id }}" class="form-control" value="{{ draft_report.draft_date|date:'Y-m-d' }}">
                                                    </div>
                                                </div>
                            
                                                
                            
                                                <div class="row mt-3">
                                                    <div class="col">
                                                        <label for="id_comments-{{ draft_report.report_id }}">Comments</label>
                                                        <textarea name="comments" id="id_comments-{{ draft_report.report_id }}" class="form-control">{{ draft_report.comments }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="pagination_wrap mt-4 d-flex justify-content-between align-items-center">
            <form method="get" class="form-inline">
                <label for="rows-per-page" class="mr-2">Show:</label>
                <select id="rows-per-page" name="rows_per_page" class="form-control w-auto" onchange="this.form.submit()">
                    <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                </select>
                {% for key, value in request.GET.items %}
                    {% if key != 'rows_per_page' and key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>

            <div>
                Showing {{ paginated_draft_reports.start_index }} - {{ paginated_draft_reports.end_index }} of {{ paginated_draft_reports.paginator.count }} Audit Reports
            </div>
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginated_draft_reports.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_draft_reports.previous_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active">
                        <span class="page-link">{{ paginated_draft_reports.number }}</span>
                    </li>
                    
                    {% if paginated_draft_reports.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginated_draft_reports.next_page_number }}&rows_per_page={{ rows_per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'add_draft_report' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab-add" data-toggle="tab" href="#general-add" role="tab">General</a>
                        </li>
                        
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="general-add" role="tabpanel">
                            <div class="row">
                                
                                <div class="col">
                                    <label for="id_entity_name">Entity Name</label>
                                    {{ form.entity_name|add_class:"form-control" }}
                                </div>
                            </div>
        
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="id_findings">Findings</label>
                                    {{ form.findings|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_recommendations">Recommendations</label>
                                    {{ form.recommendations|add_class:"form-control" }}
                                </div>
                            </div>
        
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="id_drafted_by">Drafted By</label>
                                    {{ form.drafted_by|add_class:"form-control" }}
                                </div>
                                <div class="col">
                                    <label for="id_draft_date">Draft Date</label>
                                    {{ form.draft_date|add_class:"form-control" }}
                                </div>
                            </div>
        
                            
        
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="id_comments">Comments</label>
                                    {{ form.comments|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const actionLinks = document.querySelectorAll('.trig'); // Action items in the dropdown
    
        // Listen for a click on the action links
        actionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default behavior
                const selectedRadio = document.querySelector('input[name="selected"]:checked');
    
                // Check if a Audit Report is selected
                if (!selectedRadio) {
                    alert('Please select a Audit Report.');
                    return;
                }
    
                const selectedId = selectedRadio.value; // Get the selected Audit Report ID
                const selectedAction = event.target.getAttribute('data-action'); // Get the action (edit or delete)
    
                if (selectedAction === 'delete') {
                    const deleteUrl = `/iam/audit_reporting/draft_reports/${selectedId}/delete/`;
                    if (confirm('Are you sure you want to delete this Audit Report?')) {
                        // Redirect to the delete URL
                        window.location.href = deleteUrl;
                    }
                } else if (selectedAction === 'edit') {
                    const editModal = new bootstrap.Modal(document.getElementById(`editModal-${selectedId}`));
                    editModal.show();
                }
            });
        });
    });
    

</script>


{% endblock content %}